{{!-- START NAVBAR --}}
<div class="row">
	<div class="col">
		<div class="bg-img">
			<div class="container">
				<div class="topnav">
					<a href="/brands">Home</a>
					{{!-- <a href="/login-form">Login</a> --}}
					<a href="/new-flavor-form">Add New Flavor</a>
					<a href="#about">About</a>
					<a href="#contact">Contact</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{!-- END NAVBAR --}}

<div class="row">
	<div class="col">
		<section>
			{{#each brand.Flavors}}

			<article class="item-container block" style='text-align:center'>
				<div id="card" class="card">
					<div class="card-body">

						<img class="item-img" src="{{this.image}}" />

						<p>
							<h2><b>{{this.name}}</b> </h2>
						</p>

						<h3>Price: ${{this.price}} </h3>

						<h3>In Stock: {{this.quantity}} </h3>

						{{!-- delete button --}}

						<form action="/delete/{{this.id}}" method="POST">
							<button class="btn">Delete</button>
						</form>

						{{!-- update button --}}

						<form action="/update-flavor-form/{{this.id}}" method="GET">
							<button class="btn">Update</button>
						</form>

					</div>
				</div>

			</article>
			{{/each}}

		</section>
	</div>
</div>